node_modules
.repo
biovault
bioscript
biovault-beaver
sbenv
syft-crypto-core
syftbox
syftbox-sdk
syqure
codon
external/llvm-project
syqure/sequre
sandbox
artifacts
logs
target
src-tauri/target
src-tauri/gen
dist
build
coverage
test-results
package-lock.json
**/*.min.js
